[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
elasticsearch = "*"
jsonschema = "*"

[dev-packages]
ipdb = "*"
pytest = "*"

[requires]
python_version = "3.9"
